@using Scholarships.Models.Forms
@model Scholarships.Models.Forms.QuestionViewModel

@{

}

    <li class="qsortableli" id="question_@Model.Question.QuestionId">
        <div class="form-row">
            <div class="col-md-12 text-center">
                <span class="grippyhorizontal"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9">
                <input type="hidden" name="[@Model.Index].QuestionId" value="@Model.Question.QuestionId"/>
                <input type="text" name="[@Model.Index].Name" value="@Model.Question.Name" class="form-control" placeholder="Question"/>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="qtypepicker" name="[@Model.Index].Type" data-questionid="@Model.Question.QuestionId">
                        <option data-icon="fa-minus" value="@QuestionType.ShortAnswer" opt-selected-value="@Model.Question.Type">Short answer</option>
                        <option data-icon="fa-navicon" value="@QuestionType.Paragraph" opt-selected-value="@Model.Question.Type">Paragraph</option>
                        <option data-divider="true"></option>
                        <option data-icon="fa-dot-circle-o" value="@QuestionType.MultipleChoice" opt-selected-value="@Model.Question.Type">Multiple choice</option>
                        <option data-icon="fa-check-square" value="@QuestionType.Checkboxes" opt-selected-value="@Model.Question.Type">Checkboxes</option>
                        <option data-icon="fa-toggle-down" value="@QuestionType.Dropdown" opt-selected-value="@Model.Question.Type">Dropdown</option>
                        <option data-divider="true" value=""></option>
                        <option data-icon="fa-upload" value="@QuestionType.FileUpload" opt-selected-value="@Model.Question.Type">File upload</option>
                        <option data-divider="true"></option>
                        <option data-icon="fa-calendar" value="@QuestionType.Date" opt-selected-value="@Model.Question.Type">Date</option>
                        <option data-icon="fa-clock-o" value="@QuestionType.Time" opt-selected-value="@Model.Question.Type">Time</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9">
                <input type="text" name="[@Model.Index].Description" value="@Model.Question.Description" class="form-control" placeholder="Description" />
            </div>
        </div>
        <div class="form-row" id="questionoptions_@Model.Question.QuestionId">
            <div class="form-group col-md-9 questioneditor-options">
                <ul class="sortable" id="questionoptionslist_@Model.Question.QuestionId" data-questionid="@Model.Question.QuestionId">
                    @for (int i = 0; i <  @Model.Question.Options.Count; i++)
                    {
                        QuestionOptionViewModel option = new QuestionOptionViewModel
                        {
                            Index = @i,
                            Question = @Model.Question,
                            QuestionIndex = @Model.Index,
                            QuestionOption = @Model.Question.Options[i]
                        };

                        @await Html.PartialAsync("_QuestionOptionEditPartial", option)

                    }
                </ul>
            </div>
        </div>
        <div class="form-row" id="questionoptions_add_@Model.Question.QuestionId">
            <div class="questioneditor-addbtn">
                <i class="fa fa-square-o"></i> <span class="questioneditor-addbtn-add" data-questionid="@Model.Question.QuestionId" data-questionindex="@Model.Index">Add option</span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8"></div>
            <div class="col-md-1" style="text-align: right">
                <i class="fa fa-trash questioneditor-trash" style="font-size: 1.5em; padding-top: 10px" data-questionid="@Model.Question.QuestionId"></i>
            </div>
        </div>
    </li>