@model IEnumerable<Scholarships.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SATScoreMath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SATScoreReading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACTScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeAttending)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuitionYearly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomBoard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TuitionTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeAccepted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollegeIntendedMajor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LivingSituation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherAid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitiesSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitiesCommunity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchoolOffices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialCircumstances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EarningsTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyAssets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmployer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentAssets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Siblings)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATScoreMath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SATScoreReading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACTScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeAttending)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuitionYearly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomBoard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TuitionTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeAccepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollegeIntendedMajor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LivingSituation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherAid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivitiesSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivitiesCommunity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchoolOffices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialCircumstances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EarningsTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyAssets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmployer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentAssets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Siblings)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProfileId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProfileId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
