@model List<Scholarships.Models.Guardian>

@{
    Layout = null;
}


    <form asp-action="EditGuardiansAjax" id="EditGuardiansAjax">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <input type="hidden" asp-for="@Model[i].ProfileId" />
            <input type="hidden" asp-for="@Model[i].GuardianId" />
            <fieldset class="alert alert-secondary" id="__Guardian_@Model[i].GuardianId">
                @if (i != 0)
                {
                <a class="btn btn-danger removeGuardian" data-guardian="@Model[i].GuardianId" style="position: absolute; right: 5px; top: 5px; color: white">
                    <!--onclick="RemoveGuardian(@Model[i].GuardianId)"-->
                    <i class="fa fa-times" style="color: white"></i> Remove
                </a>
                }
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model[i].FullName" class="control-label"></label>
                        <input asp-for="@Model[i].FullName" class="form-control form-control-sm" />
                        <span asp-validation-for="@Model[i].FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model[i].Relationship" class="control-label"></label>
                        <select asp-for="@Model[i].Relationship" asp-items="ViewBag.Relationships" class="form-control form-control-sm"></select>
                        <span asp-validation-for="@Model[i].Relationship" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model[i].Occupation" class="control-label"></label>
                        <input asp-for="@Model[i].Occupation" class="form-control form-control-sm" />
                        <span asp-validation-for="@Model[i].Occupation" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model[i].EmploymentStatus" class="control-label"></label>
                        <select asp-for="@Model[i].EmploymentStatus" asp-items="ViewBag.EmploymentStatus" class="form-control form-control-sm"></select>
                        <span asp-validation-for="@Model[i].EmploymentStatus" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label asp-for="@Model[i].Employer" class="control-label"></label>
                        <input asp-for="@Model[i].Employer" class="form-control form-control-sm" />
                        <span asp-validation-for="@Model[i].Employer" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model[i].AnnualIncome" class="control-label"></label>
                        <div class="input-group m-b">
                            <div class="input-group-prepend">
                                <span class="input-group-addon">$</span>
                            </div>
                            <input asp-for="@Model[i].AnnualIncome" class="form-control form-control-sm" />
                        </div>
                        <span asp-validation-for="@Model[i].AnnualIncome" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
        }
        <div class="form-group">
            <button class="btn btn-default saveGuardians">Save All</button> <button class="btn btn-default addGuardian">Add Family Member</button>
        </div>
    </form>