@model Scholarships.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<div class="ibox">
    <div class="ibox-title">
        <h2>@Model.User.FullName's Dashboard</h2>
    </div>
    <div class="ibox-content">
        <p>Welcome to the Easton Area School District Scholarship site.   This newly-developed resource is designed to help you quickly apply for each of the <b>local scholarships</b> available to Easton Area School District students.  If you have any difficulties please send us an email at scholarships@eastonsd.org.</p>
    </div>
</div>

<div class="row">
    @if (Model.ScholarshipUpdates.Count > 0)
    { 
        <div class="col-lg-4">
            <div class="activity-stream">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Scholarship Updates</h5>
                    </div>
                    <div class="ibox-content">
                        @foreach (var scholarship in Model.ScholarshipUpdates)
                        {
                            <div class="stream">
                                <div class="stream-badge">
                                    <i class="fa fa-circle"></i>
                                </div>
                                <div class="stream-panel">
                                    <div class="stream-info">
                                        <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@scholarship.ScholarshipId">
                                            <span>@scholarship.Name</span><br />
                                            <span class="date">Posted @scholarship.ReleaseDate</span><br />
                                            <span style="color: #777">
                                                @scholarship.Description
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Environment</h5>
                </div>
                <div class="ibox-content">
                    <p>Some stuff about the planet here.</p>
                    <a href="#" class="btn btn-primary">
                        <span class="fa fa-recycle"></span> Reduce, Reuse, and Recycle
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>

}
