@model Scholarships.Models.HomeViewModels.HomeViewModel

@{
    ViewData["Title"] = "Dashboard";

    var profileCompletedChecked = Model.CompletedProfile ? " checked" : "";
    var profileCompletedApplication = Model.CompletedScholarshipApplication ? " checked" : "";
}

    <div class="row white-bg ibox" style="margin: 2px">

            <div class="col-lg-8">
                <div class="ibox-title">
                    <h2>@Model.User.FullName's Dashboard</h2>
                </div>
                <div class="ibox-content">
                    <p>Welcome to the Easton Area School District Scholarship site. This newly-developed resource is designed to help you quickly apply for each of the <b>local scholarships</b> available to Easton Area School District students. If you have any difficulties please send us an email at scholarship@eastonsd.org.</p>

                </div>

            </div>
            <div class="col-lg-4">
                <div class="ibox-title">
                    <h2>What to do next?</h2>
                </div>
                <div class="ibox-content">
                    <ul class="todo-list m-t ui-sortable" style="margin-top: 0px">
                        <li>
                            <div class="icheckbox_square-green @profileCompletedChecked" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <span class="m-l-xs"><a asp-controller="Profile" asp-action="Edit">Complete your student profile</a></span>
                        </li>
                        <li>
                            <div class="icheckbox_square-green @profileCompletedApplication" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <span class="m-l-xs"><a asp-controller="Scholarships" asp-action="Index">Search for scholarships that might suit you</a></span>
                        </li>
                        <li>
                            <div class="icheckbox_square-green @profileCompletedApplication" style="position: relative;"><input type="checkbox" value="" name="" class="i-checks" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                            <span class="m-l-xs">Complete an application for that scholarship</span>
                        </li>
                    </ul>

                </div>

            </div>

    </div>

    <div class="row">

        <div class="col-lg-4 py-2">
            <div class="ibox card card-body h-100">
                <div class="ibox-title">
                    <h5>Applications in Progress</h5>
                </div>
                <div class="ibox-content">
                    @if (Model.InProgress.Count == 0)
                    {
                        <p>You currently have no applications in progress.</p>
                    }
                    else
                    {

                        @foreach (var scholarship in Model.InProgress)
                        {
                            <div class="stream-small">
                                <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@scholarship.ScholarshipId">@scholarship.Name</a>
                                <small class="text-muted">Due @scholarship.DueDate.ToShortDateString()</small>
                            </div>
                        }


                    }
                </div>
            </div>
        </div>

        <div class="col-lg-8 py-2">
            <div class="ibox card card-body h-100">
                <div class="ibox-title">
                    <h5>Completed Applications</h5>
                </div>
                <div class="ibox-content">
                    @if (Model.MyApplications.Count == 0)
                    {
                        <p>You currently have no applications that have been completed.</p>
                    }
                    else
                    {

                        @foreach (var application in Model.MyApplications)
                        {
                            <div class="stream-small">
                                <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@application.ScholarshipId">@application.Scholarship.Name</a>
                                @if (application.Submitted)
                                {
                                    <small class="text-muted">Completed and submitted on @application.SubmittedDate.ToShortDateString()</small>
                                }
                                else
                                {
                                    <small class="text-muted">Not Complete, Due @application.Scholarship.DueDate.ToShortDateString()</small>
                                }
                            </div>
                        }


                    }
                </div>
            </div>
        </div>


    </div>

<div class="row">
    @if (Model.ScholarshipUpdates.Count > 0)
    {
        <div class="col-lg-4 py-2">
            <div class="ibox card card-body h-100">
                <div class="ibox-title">
                    <h5>Scholarship Updates</h5>
                </div>
                <div class="ibox-content">
                    <div class="activity-stream">

                        @foreach (var scholarship in Model.ScholarshipUpdates)
                        {

                            <div class="stream">
                                <div class="stream-badge">
                                    <i class="fa fa-circle"></i>
                                </div>
                                <div class="stream-panel">
                                    <div class="stream-info">
                                        <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@scholarship.ScholarshipId">
                                            <span>@scholarship.Name</span><br />
                                            <span class="date">Posted @scholarship.ReleaseDate.ToShortDateString()</span><br />
                                            <span style="color: #777">
                                                @scholarship.Description
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    }
    <div class="col-lg-4 py-2">
        <div class="ibox card card-body h-100">
            <div class="ibox-title">
                <h5>Favorite Scholarships</h5>
            </div>
            <div class="ibox-content">
                @if (Model.MyFavorites.Count == 0)
                {
                    <p>You have no favorite scholarships yet. Please browse through the available list of scholarships and click the heart icon to add to this list.</p>
                }
                else
                {
                    <ul class="fa-ul">

                        @foreach (var scholarship in Model.MyFavorites)
                        {
                            <li>
                                <i class="fa-li fa fa-heart"></i>
                                <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@scholarship.ScholarshipId">@scholarship.Name</a>
                            </li>
                        }

                    </ul>

                }
                <br />
                <a asp-controller="Scholarships" asp-action="Index" class="btn btn-primary"><i class="fa fa-graduation-cap"></i> View All Scholarships</a>

            </div>
        </div>
    </div>

    <div class="col-lg-4 py-2">
        <div class="ibox card card-body h-100">
            <div class="ibox-title">
                <h5>Upcoming Scholarship Deadlines</h5>
            </div>
            <div class="ibox-content">
                @if (Model.ScholarshipsUpcomingDeadlines.Count == 0)
                {
                    <p>There are no new scholarships posted yet.  Check back here soon!</p>
                }
                else
                {

                    @foreach (var scholarship in Model.ScholarshipsUpcomingDeadlines)
                    {
                        <div class="stream-small">
                            <a asp-controller="Scholarships" asp-action="Details" asp-route-id="@scholarship.ScholarshipId">@scholarship.Name</a>
                            <small class="text-muted">Due @scholarship.DueDate.ToShortDateString()</small>
                        </div>
                    }


                }
            </div>
        </div>
    </div>

</div>

@if (User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-lg-4 py-2">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Environment</h5>
                </div>
                <div class="ibox-content">
                    <p>Some stuff about the planet here.</p>
                    <a href="#" class="btn btn-primary">
                        <span class="fa fa-recycle"></span> Reduce, Reuse, and Recycle
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>My Account</h5>
                </div>
                <div class="ibox-content">
                    <p>It's how you log in!</p>
                    <a asp-controller="Manage" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-user-circle-o"></span> Manage Account
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 py-2">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Configuration</h5>
                </div>
                <div class="ibox-content">
                    <p>Configuration stuff here.</p>
                    <a asp-controller="Configuration" asp-action="Index" class="btn btn-default">
                        <span class="fa fa-cog"></span> Update Configuration
                    </a>
                </div>
            </div>
        </div>
    </div>

}


@section Styles {

    <link href="~/lib/iCheck/custom.css" rel="stylesheet">
}

@section Scripts {

    <script src="~/lib/iCheck/icheck.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            $('div').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',

            });

        });

    </script>

}