@model Scholarships.Models.Forms.Question

@{
        
}
<div class="form-group">
    <label class="control-label" for="[@Model.AnswerSetIndex].Answers[@Model.Index].QuestionOptions">@Model.Name</label>
    <p>@Model.Description</p>
    @for (int i = 0; i < Model.Options.Count; i++)
    {
        var option = Model.Options[i];
        <input type="checkbox" name="[@Model.AnswerSetIndex].Answers[@Model.Index].QuestionOptions" value="@option.QuestionOptionId" checked="@option.Selected" />@option.Name<br/>
        <input type="hidden" name="[@Model.AnswerSetIndex].Answers[@Model.Index].QuestionOptions" value="false" />
    }
    <span class="text-danger field-validation-valid" data-valmsg-for="[@Model.AnswerSetIndex].Answers[@Model.Index].QuestionOptions" data-valmsg-replace="true"></span>
</div>