@model Scholarships.Models.ScholarshipViewModels.ApplicationViewModel

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a asp-controller="Scholarships" asp-action="Manage">Scholarships</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>@Model.Scholarship.Name Applications</strong>
    </li>
</ol>

<h2>Applications</h2>
@if (!User.IsInRole("Provider"))
{
    <div class="ibox alert alert-warning" style="margin-top: 10px; padding: 20px">
        <button class="btn btn-primary" onclick="createPackage(true)"><i class="fa fa-cogs"></i> Create Application Package</button>  <div style="float: right">Status: <span id="packageStatus"></span></div>
    </div>
}

<div class="ibox">
    <div class="ibox-content">


        <table class="table">
            <thead>
                <tr>
                    <th style="width: 40%">
                        Applicant Name
                    </th>
                    <th style="white-space: nowrap;">
                        Student ID
                    </th>
                    <th>
                        Submission Date
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var app in Model.Applications)
                {
                <tr>
                    <td style="vertical-align: middle">
                        <a asp-controller="Scholarships" asp-action="ApplicationView" asp-route-id="@app.ApplicationId">@app.Profile.LastName, @app.Profile.FirstName</a>
                        @if (app.ApplicantAwarded)
                        {
                            <div class="btn btn-warning btn-circle btn-outline" style="margin-left: 10px" data-toggle="tooltip" data-placement="right" title="Awarded Scholarship"><i class="fa fa-trophy"></i></div>
                        }

                        @if (app.ApplicantFavorite)
                        {
                            <div class="btn btn-danger btn-circle btn-outline" style="margin-left: 10px" data-toggle="tooltip" data-placement="right" title="Favorite Application"><i class="fa fa-heart"></i></div>
                        }

                    </td>
                    <td style="vertical-align: middle">
                        @app.Profile.StudentId
                    </td>
                    <td style="vertical-align: middle">
                        @app.SubmittedDate
                    </td>
                    <td>
                        <a class="btn btn-white btn-bitbucket" asp-action="ApplicationView" asp-route-id="@app.ApplicationId"><i class="fa fa-id-card-o"></i> View Application</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {


    <script type="text/javascript">

        function createPackage(createNew) {

            $.ajax({
                type: "GET",
                url: "/Scholarships/ApplicationPackageGenerate/@Model.Scholarship.ScholarshipId" +
                    (createNew ? "?trigger=true" : ""),
                dataType: "json"
            }).done(function(response, textStatus, jqXHR) {

                if (response.message !== "Completed") {
                    setTimeout(function() { createPackage(false); }, 2000);
                }
                var msg = response.message;
                if (response.message === "Completed")
                    msg += "<br><a href='/Scholarships/ApplicationPackageDownload/" + response.job.jobId + "'>Download</a>";
                $("#packageStatus").html(msg);

            });
        }

        $.ajax({
            type: "GET",
            url: "/Scholarships/ApplicationPackageGenerate/@Model.Scholarship.ScholarshipId",
            dataType: "json"
        }).done(function(response, textStatus, jqXHR) {
            var msg = response.message;
            if (response.message === "Completed")
                msg += "<br><a href='/Scholarships/ApplicationPackageDownload/" + response.job.jobId + "'>Download</a>";
            $("#packageStatus").html(msg);
        });

        $(function () {

            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
}