@model IEnumerable<Scholarships.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-controller="Admin" asp-action="Index">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <strong>Manage Articles</strong>
    </li>
</ol>

<h2>Articles</h2>
<div class="ibox">
    <div class="ibox-title"><a asp-action="Create" class="btn btn-w-m btn-primary">Create New</a></div>
    <div class="ibox-content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublishDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Published)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
